{% extends 'base.html' %}
{% block content %}
<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Tasks</a></li>
			</ul>

			<div class="row-fluid">
				
				<div class="span6">
					
					<div class="dark">
					
					<h1>Timeline</h1>
					
					<div class="timeline">
						
					    <div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">false alarm</span>
									<span class="details">
										Sensors went off but nothing stolen 
									</span>
									<span>
										resolution: 
										<span class="remaining">
											security sent to premises
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>							
							<div class="icon">
								<i class="icon-warning-sign"></i>
							</div>
							<div class="time">
								6:53 PM
							</div>	
								
					    </div>
					
						<div class="clearfix"></div>
						
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">security check</span>
									<span class="details">
										routine inspection 
									</span>
									<span>
										resolution:
										<span class="remaining">
											passed security inspection 
										</span>	
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-check"></i>
							</div>
							<div class="time">
								6:13 PM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">false alarm</span>
									<span class="details">
										Cameras falsely reported anomaly
									</span>
									<span>
										resolution:  
										<span class="remaining">
											security sent to premises 
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-warning-sign"></i>
							</div>
							<div class="time">
								3:43 PM
							</div>	
								
					    </div>
					
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">hardware failure</span>
									<span class="details">
										Camera 3 failed 
									</span>
									<span>
										resolution: 
										<span class="remaining">
											Camera 3 was replaced with a new camera
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-wrench"></i>
							</div>
							<div class="time">
								10:07 AM
							</div>	
								
					    </div>
					
						<div class="timeslot">
					    	
							<div class="task">
					    		<span>
									<span class="type">Theft</span>
									<span class="details">
										Man caught on camera stealing 
									</span>
									<span>
										resolution: 
										<span class="remaining">
											security called, and man taken into custody
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>							
							<div class="icon">
								<i class="icon-warning-sign"></i>
							</div>
							<div class="time">
								9:43 AM
							</div>	
								
					    </div>
					
						<div class="clearfix"></div>
						
						<div class="timeslot alt">
					    	
							<div class="task">
					    		<span>
									<span class="type">Threat Spike Projected</span>
									<span class="details">
										Systems reported that conditions suggest a high probability of theft
									</span>
									<span>
										resolution: 
										<span class="remaining">
											Indicated cameras closely monitored. No theft detected
										</span>	
									</span>
								</span>
								<div class="arrow"></div>
							</div>
							<div class="icon">
								<i class="icon-bar-chart"></i>
							</div>
							<div class="time">
								10:43 PM
							</div>			
					    </div>    
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}